* {
    margin: 0%;
    padding: 0%;
}

.main {
    height: 100vh;
    background-color: rgb(0, 183, 255);
    text-align: center;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4fr;
    gap: 1em;
}

.city {
    grid-row: 1;
    background: linear-gradient(45deg, rgba(148, 148, 148, 0.75) 0%, rgba(254, 254, 255, 0.75) 50%, rgba(148, 148, 148, 0.75)100%);
    border-radius: 1em;
    border: 1px solid white;
}

.temp {
    grid-row: 2;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
}

.week {
    grid-row: 3;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
}

.icon {
    grid-row: 4;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em;
}